div {
  border: 2px solid lightgrey;
}

.header {
  width: 800px;
  height: 150px;
  position: relative;
}

.logo, .topMenu, .menu {
  position: absolute;
  margin: 5px 5px;
  padding: 5px;
}

.logo {
  width: 350px;
  height: 75px;
  padding: 5px;
}

.topMenu {
  width: 150px;
  height: 20px;
  top: 5px;
  right: 5px;
}

.menu {
  width: 400px;
  height: 20px;
  bottom: 5px;
  right: 5px;
}